{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}{% include head.html %}
  <body  {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
    <div id="wrap">
      <header role="banner">
        {% include navigation.html %}
      </header>

      <div id="main" class="container">
        <div id="content">
          {{ content | expand_urls: root_url }}
        </div>
      </div>
    </div>
    <script type="text/javascript">
    $(function() {
 
      $('#navbar-search-query').lunrSearch({
        indexUrl: '/search.json',             // URL of the `search.json` index data for your site
        results:  '#aside-search-results',          // jQuery selector for the search results container
        entries:  '.aside-entries',                 // jQuery selector for the element to contain the results list, must be a child of the results element above.
        template: '#aside-search-results-template'  // jQuery selector for the Mustache.js template
      });
      $('#sidebar-toggle').click(function() {
        $('.sidebar').toggleClass('toggled');
        $(this).toggleClass('toggled');
        if ($('.sidebar').hasClass('toggled')) {
              $('.page-content').removeClass('col-md-9');
              $('.page-content').addClass('col-md-offset-2');
              $('.page-content').addClass('col-md-8');
              $('#table-of-contents').show();
        } else {
           $('.page-content').removeClass('col-md-8');
              $('.page-content').removeClass('col-md-offset-2');
              $('.page-content').addClass('col-md-9');
              $('#table-of-contents').hide();
        }
      });
      $('#toc-trigger').click(function() {
        $('#toc-body').toggleClass('toggled');
      });
      $(window).scroll(function () {
        var s = $(window).scrollTop(),
        d = $(document).height(),
        c = $(window).height();
        scrollPercent = (s / (d-c)) * 100;
        var position = scrollPercent;

        $("#toc-trigger .progress-bar").attr('aria-valuenow', position);
        $("#toc-trigger .progress-bar").css('width',scrollPercent+"%");

      });   
    });
    </script>
    <script type="text/javascript">
    $(".navbar-fixed-top").autoHidingNavbar();
    $('body').particleground();

    </script>
  <script src="{{ root_url }}/assets/javascripts/search.min.js" type="text/javascript" charset="utf-8"></script>

    <footer role="contentinfo">{% include footer.html %}</footer>
    {% include after_footer.html %}
  </body>
</html>