<link href="{{ root_url }}/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="{{ root_url }}/assets/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{ root_url }}/assets/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{ root_url }}/assets/jquery.bootstrap-autohidingnavbar.min.js"></script>
<script src="{{ root_url }}/assets/javascripts/pace.min.js"></script>
