<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button id="collapse-nav-btn" type="button" class="navbar-toggle"  data-target="#horizontal-nav">
                <span class="sr-only">Toggle navigation</span>
               <i class="fa fa-bars fa-lg"></i>
            </button>
            <a class="navbar-brand" href="{{ root_url }}/"><strong>{{ site.title }}</strong></a>
        </div>
        <script type="text/javascript">
           
         </script>
        <div id="horizontal-nav" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if page.navbar == 'Blog' %}class="active"{% endif %}>
                    <a rel="index" href="{{ root_url }}/">Blog</a>
                </li>
                <li {% if page.navbar == 'Archives' %}class="active"{% endif %}>
                    <a href="{{ root_url }}/blog/archives">Archives</a>
                </li>
                 <li {% if page.navbar == 'About' %}class="active"{% endif %}>
                    <a href="{{ root_url }}/about/">About</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/search" >{% icon fa-search %}</a>
                </li>
                <li>
                    <a href="https://github.com/{{site.github_user}}">
                        {% icon fa-github %}
                    </a>
                </li>
                <li>
                    <a  href="{{ site.subscribe_rss }}" title="subscribe via RSS">
                        {% icon fa-rss %}
                    </a>
                </li>
                {% if site.subscribe_email %}
                <li>

                    <a class="subscribe-email" href="{{ site.subscribe_email }}" title="subscribe via email">
                        <span class="visible-xs">Email</span>
                        <img class="hidden-xs" src="{{ root_url }}/images/email.png" alt="Email">
                    </a>
                </li>
                {% endif %}
                <li>
                    <a id="sidebar-toggle" href="#"> 
                        {% icon fa-toggle-on %}
                        {% icon fa-toggle-off %}
                    </a>
                </li>
            </ul>
            {% if site.simple_search %}
                <form class="search navbar-form navbar-right" action="{{ site.simple_search }}" method="GET">
                    <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}">
                    <div class="form-group">
                        <input class="form-control" type="text" name="q" placeholder="Search">
                    </div>
                </form>
            {% endif %}
          
        </div>
    </div>
</nav>
