/* nice sticky footer, from http://getbootstrap.com/examples/sticky-footer/ */
html, body {
  font-family: $font-stack;
  height: 100%;
    
  #table-of-contents {
    position: fixed;
    bottom: 0px;
    margin-left: 100px;
    width: 175px;
    display: block;  
    opacity: 0.6;
    
    @media screen and (max-width: 768px) {
     display:none;
    }
  }
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;

  #main {
    padding-top: 80px;
  }
  .navbar-fixed-top {
    /*border-top: 5px solid #4582ec;*/
  }
  article.hentry, article.post  {
   
    margin-bottom: 20px;
    margin-top: auto;
  }

}
  /* */
  .toggled {
    display: none;
  }

  #sidebar-toggle:hover .fa-toggle-off,
  #sidebar-toggle .fa-toggle-on {
      display: none;
  }
  #sidebar-toggle:hover .fa-toggle-on {
      display: inline;
  }
  #sidebar-toggle.toggled .fa-toggle-on {
      display: none;
  };
  #sidebar-toggle.toggled .fa-toggle-off {
      display: inline;
  }

/* Set the fixed height of the footer here */
footer[role=contentinfo] {
    height: 60px;
}
